	<nav class="navbar navbar-expand-sm navbar-dark navbar-override" >
		<div class="container-fluid">
			<a class="navbar-brand" style="left: 0" href="#">INVENTORIUM</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">

					<li><a class="nav-link" routerLink="/home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
					<li><a class="nav-link" routerLink="/master" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Inventory List</a></li>

				</ul>
				<span class="navbar-text">
					Know Your Stuff!
				</span>
			</div>
		</div>
	</nav>

	<div class="container-fluid app-compononent-container">
		<router-outlet></router-outlet>
	</div>

