<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Angular5 | Firebase CRUD</h1>
    <br>
    <p class="lead">Fully Working Inventory-App Example by Tom Beaver</p>
  </div>
</div>

<br>
<article class="homebody">

	<h2>Overview</h2>

	<p class="intro">This is a simple but fully functioning <u>Angular5/Firebase</u> inventory app that implements full CRUD functionality. Users of this demo can try out all CRUD operations without having to set up their own Firebase account. Authentication is not required.</p>

	<p>Although the main purpose is to show how to implement a Firebase backend into an Angular 6 app, this example also demonstrates many common solutions and patterns that most Angular 6 apps will require, such as <u>routing, injection of global services, injection of dependencies at both the module and component levels, code organization, implementation and data-binding of various Bootstrap elements, and more.</u></p>

	<p>Developers may grab this from <a href="https://github.com/githubtommy/ng5-firebase2-crud" target="_blank">GitHub: ng5-firebase2-crud</a> and modify it as desired. They will need to have a Firebase account and apply their own Firebase APIKey and configuration properties, as explained in the README.</p>

	<br>
	<button type="button" class="btn btn-theme-highlight" (click)="goToList()">Try It Now</button>
	<br>
	<br>

	<h3>Main Technologies</h3>

	<p>Angular5, AngularFire2, Firebase Realtime Database, Angular CLI, Angular Router, Bootstrap 4, Angular Forms, NodeJS, TypeScript, ES6, FontAwesome Icons</p>

	<h3>UX/UI Features</h3>

	<ul>
		<li>Navigate between Home, List and Detail pages</li>
		<li>List Page — View all records; sort and reverse-sort on any column; delete existing records; launch detail page to modify an existing record or create a new one</li>
		<li>Detail Page — Modify fields of existing record; create a new record; apply a star rating to the record; save the new or modified record; clear the form; cancel and return to List page without saving changes</li>
	</ul>

	<h3>Angular Features</h3>

	<ul>
		<li>Created using Angular/CLI 1.6.1</li>
		<li>Uses the latest Angular Routing approach</li>
		<li>Follows best practices for code organization (organization by feature; shared components and services place at app level)</li>
		<li>Globally required services injected at root-app level</li>
		<li>Logging service implemented as an example of a global service</li>
		<li>Uses a variety of Bootstrap elements and form controls</li>
		<li>Uses FontAwesome icons</li>
		<li>Firebase config and service implemented in a way that makes this an easy starting point for other Firebase-connected apps</li>
		<li>Confirmation modal when deleting all records</li>

	</ul>
</article>
